#userli {
	color: #333;

}
#includeheader ul{
	height:20px; 
	margin:0 20px 10px 0 ;
}
#includeheader ul li{
	list-style: none; 
	padding-left: 10px;
	float: right;
}
#includeheader ul li a{
	color:#4F4F4F; 
	font-weight:bold; 
	text-decoration:none;
}
#brand-header{
	padding-top: 30px;
	padding-bottom: 10px;
}
body {
	background: none;
	background-color: none;
}

.box {
	background-color: #F7F7F7;
}
hr {
	
	border-color: #3E3F3A;
}
#footerText{
	background-color: #2C3E50;	
}
#footerText p{
	color: #F7F7F7;
}
#reservejoin{
	padding: 20px;
}

.navbar-nav {
    display: table;
    float: none;
    margin: auto;
    text-align: center;
    table-layout: fixed;
    font-size: 1.25em;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover{
	background-color: #2C3E50;
}

#navdropdown {
	background-color: #2C3E50;
	border: none;
}

.dropdown-menu{
	margin-right:100px;
}

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}
.dropdown-menu li a{
	color: #ffffff;
}
.dropdown-menu li a:hover{
	background-color: #ffffff;
	color: #2C3E50;
}
.container{
   width: 940px;   
}
#btn-appdownload {
	float: right;
	margin: 8px 20px 0px 0px;
	width: 73px;
	height: 23.99px;
}
#brandImg {
	width: 398.99px;
	height: 80px;
	margin: 0px;
	
}
#brandtaga{
	height: 80px;
}
.main-text{
	font-size: x-small;

}