
#userli {
	color: #333;

}
#includeheader ul{
	height:20px; 
	margin:0 20px 10px 0 ;
}
#includeheader ul li{
	list-style: none; 
	padding-left: 10px;
	float: right;
}
#includeheader ul li a{
	color:#4F4F4F; 
	font-weight:bold; 
	text-decoration:none;
}
.brand {
	color: black;
	text-shadow: none;
    font-family: sans-serif;
	
}
body {
	background: none;
	background-color: none;
}

.box {
	background-color: #F7F7F7;
}
hr {
	border-color: #3E3F3A;
}
#footerText{
	background-color: #2C3E50;	
}
#footerText p{
	color: #F7F7F7;
}
#reservejoin{
	padding: 20px;
}
.navbar-nav {
    display: table;
    float: none;
    margin: auto;
    text-align: center;
    table-layout: fixed;
    font-size: 1.25em;
}

#navdropdown {
	text-align: center;
	background-color: #2C3E50;
text-color: #ffffff;
	
}