
<<<<<<< HEAD
#reservebtn	a {
	float: right;
=======
#reservebtn{
>>>>>>> 576740f53842181533153e67178aca553cf389d6
	margin: 10px;
}

#reserveselectbtn a {
	margin: 10px;
}
<<<<<<< HEAD
=======

#reservejoin a{
	float: none;
}

#dateName {
	margin-top:50px;
}

#btnreserve {
	margin-top:20px;
}
#adminreserve a{
	mrgin-top: 50px;
}



          
>>>>>>> 576740f53842181533153e67178aca553cf389d6
