<<<<<<< HEAD
select[multiple], select[size] {
	height: auto;
	margin-bottom: 15px;
}
=======
select[multiple], select[size] {
	height: auto;
	margin-bottom: 15px;
}
>>>>>>> 261558846f254aab5ad68bd186c448f89ddb7c99
